.bytesFieldSubFieldByte,
.bytesFieldSubFieldBytes,
.bytesFieldSubFieldString
{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.bytesFieldSubFieldByte [class^="formControl"],
.bytesFieldSubFieldBytes [class^="formControl"]
{
  width: 30px;
  display: inline-block;
  margin-right: 3px;
}

.bytesFieldSubFieldBytesList {
  display: flex;
}

.bytesFieldSubFieldString [class^="formControl"]
{
  width: 70px;
  display: inline-block;
}
