@import '@folio/stripes-components/lib/variables.css';
@import "@folio/stripes-components/lib/sharedStyles/form.css";

.bytesFieldRow {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.bytesFieldSubFieldByte,
.bytesFieldSubFieldBytes,
.bytesFieldSubFieldString,
.bytesFieldSubFieldSelect
{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  width: max-content;

  [class^="feedbackError"] {
    margin-bottom: 0;
  }
}

.bytesFieldSubFieldSelects {
  display: flex;
}

.bytesFieldSubFieldByte [class^="formControl"],
.bytesFieldSubFieldBytes [class^="formControl"]
{
  width: 30px;
  display: inline-block;
  margin-right: 3px;
}

.bytesFieldSubFieldBytesList {
  display: flex;
}

.bytesFieldSubFieldString [class^="formControl"] {
  width: 70px;
  display: inline-block;
}

.bytesFieldSubFieldSelect [class^="selectWrap"],
.bytesFieldSubFieldSelects [class^="selectWrap"] {
  width: 50px;
  display: inline-block;
}

.selectInvalidOption option:disabled {
  color: var(--error);
  font-weight: bold;
}

.noLabelField {
  height: 100%;
  justify-content: flex-end;
}

.width40 [class^="formControl"] {
  width: 40px;
}

.width46 [class^="formControl"] {
  width: 46px;
}

.width48 [class^="formControl"] {
  width: 48px;
}

.width72 [class^="formControl"] {
  width: 72px;
}

.width82 [class^="formControl"] {
  width: 82px;
}

.disabledField input[disabled] {
  margin-left: 0;
}
