@import '@folio/stripes-components/lib/variables.css';

.bytesFieldRow {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.bytesFieldSubFieldByte,
.bytesFieldSubFieldBytes,
.bytesFieldSubFieldString,
.bytesFieldSubFieldSelect
{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.bytesFieldSubFieldSelects {
  display: flex;
}

.bytesFieldSubFieldByte [class^="formControl"],
.bytesFieldSubFieldBytes [class^="formControl"]
{
  width: 30px;
  display: inline-block;
  margin-right: 3px;
}

.bytesFieldSubFieldBytesList {
  display: flex;
}

.bytesFieldSubFieldString [class^="formControl"] {
  width: 70px;
  display: inline-block;
}

.bytesFieldSubFieldSelect [class^="selectWrap"],
.bytesFieldSubFieldSelects [class^="selectWrap"] {
  width: 50px;
  display: inline-block;
}

.selectInvalidOption option:disabled {
  color: var(--error);
  font-weight: bold; 
}
