@import "@folio/stripes-components/lib/variables.css";

.validationErrorMessage {
  display: flex;

  align-content: center;
  margin-top: 0.5rem;
}

.validationIssueError {
  color: var(--error);
}

.validationIssueWarn {
  color: var(--warn);
}

.feedbackErrorIcon {
  align-items: flex-start;
  margin-right: 0.4rem;
  max-width: 100%;
}
