.fixedFieldSubFieldByte {
  width: 30px;
  margin-right: 2px;
  display: inline-block;
}

.fixedFieldSubFieldString {
  width: 70px;
  display: inline-block;
}

.collapsedField [class*="formControl"] {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}