.fixedFieldSubFieldByte {
  width: 30px;
  margin-right: 2px;
  display: inline-block;
}

.fixedFieldSubFieldString {
  width: 70px;
  display: inline-block;
}

.collapsedField {
  margin-right: 10px;
}

[class*="headerWrapper"] [class*="header"] {
  flex-basis: 0;
}

[class*="headerDefaultContentRight"] {
  flex-shrink: unset;
  flex-wrap: wrap;
}
