.quickMarcEditorRow {
  display: flex;
  padding: 8px;

  background: rgba(0, 0, 0, .08);

  &:nth-child(odd) {
    background: rgba(0, 0, 0, .03);
  }
}

.quickMarcEditorRowInfoPopover {
  width: 23px;
  margin-inline: 10px;
}

.quickMarcEditorRowTag {
  width: 50px;
  margin-right: 10px;
}

.quickMarcEditorRowIndicator {
  width: 30px;
  margin-right: 10px;
}

.quickMarcEditorRowContent {
  flex: 1;
}

.quickMarcEditorActions {
  width: 50px;
  margin-right: 10px;
}

.quickMarcEditorMovingRow {
  width: 50px;
  margin-right: 10px;
}
